@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

:root {
  /* --warna-aksen: #16A34A; */
  --warna-aksen: #38E078;
  --second-aksen: #7CE87C;

  /* Accent/Interactive Colors */
  --aksen-biru: #1D4ED8;
  --aksen-biru-2: #005eff;
  /* Blue-500 */
  --biru-aksen-hover: #2563eb;
  /* Blue-600 */

  /* Background Colors */
  --bg-primary: #ffffff;
  /* White */
  --bg-secondary: #f9fafb;
  --card: #F5F5F5;
  /* Gray-50 */

  /* Text Colors */
  --text-primary: #141414;
  /* Gray-700 */
  --text-secondary: #737373;
  /* Gray-500 */

  /* Border Colors */
  --border: #E5E8EB;
  /* Gray-300 */

}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
  /* Warna bagian yang bisa digeser */
}

::-webkit-scrollbar-track {
  background-color: var(--card);
  /* Warna track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--warna-aksen);
  /* Warna thumb saat hover */
}

.hidden-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}